
.page-title{
    margin: 2rem 0;
}

.alert{
    display: none;
}

.nav-member{
    margin-bottom: 30px;
    .nav-link{
        color: #333333;
    }
}

/*product list*/

.pro_list{
    [class^="col"] {
        margin-bottom: 15px;
    }
}

.card{
    padding: 10px;
    min-height: 100%;
    .card-img-top{
        height: 160px;
        object-fit: contain;
    }
    .btn{
        width: 100%;
    }
}