
/*common*/

.page-title{
  text-align: center;
  margin: 3rem 0;
}

/*data list*/

.page-link{
  border: 0;
  color: gray;
}
.page-link:hover{
  color: gray;
}
.page-link:focus{
  box-shadow: inherit;
}
.page-item.disabled .page-link[href]{
  color: #cccccc;
}

/*data insert*/

.form-control:focus{
  border-color: #17a2b8;
  box-shadow: 0 0 0 0.2rem rgba(#17a2b8,.3);
}

.data_insert_form small.form-text.text-muted{
  color: red!important;
  display: none;
}

/*data list*/

.table_data_list{
  thead{
    //.th_sid{
    //  width: 5%;
    //}
    //.th_name{
    //  width: 10%;
    //}
    //.th_mobile{
    //  width: 15%;
    //}
    //.th_email{
    //  width: 20%;
    //}
    //.th_birthday{
    //  width: 15%;
    //}
    .th_address{
      width: 30%;
    }
    //.th_delete{
    //  width: 5%;
    //}
  }
  th,td{
    text-align: center;
  }
  a{
    color: grey;
    transition: color .3s ease-in-out;
    &:hover{
      color: black;
    }
  }
}

.page-item.active .page-link{
  background-color: #17a2b8;
}
